@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0B0C10] text-white font-sans antialiased;
}

/* nothing to say broo */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-[#1F2833];
}
::-webkit-scrollbar-thumb {
  @apply bg-[#C3073F] rounded-full;
}
